* {
    margin: 0;
    padding: 0
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    border: none;
    display: block;
}

.clearFix:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.clearFix {
    zoom: 1
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.wrap {
    width: 980px;
    margin: 0 auto;
}